<div class="container body-container px-0">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center p-5">
        <h1 class="text-center mb-3"><i class="far fa-paper-plane fa-3x"></i></h1>
        <p class="pb-3">Create an account or login</p>
        <a href="/users/register" class="btn btn-secondary btn-block mb-4 py-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block py-2">Login</a>
      </div>
    </div>
  </div>
</div>