/* COLOURS */
body{
  background-color: #5588a3;
}

.light-background{
    background-color: #e8e8e8;
}

.silver{
  background-color: silver;
}

.grey{
  color: grey;
}

/* ICONS */
.fa-plus-circle{
  padding: 0 0.25rem;
  margin-bottom: 0;
}

/* BUTTONS */
.btn{
  background-color: #145374;
}

.btn-link{
  background:none !important;
  padding:0!important;
  border: none;
}

/* NAVBAR */
.navbar-dark{
  background-color: #145374;
}

/* DESTINATION CARDS */
.body-container{
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.destination-card{
  width: 20rem;
  text-align: center;
}

.img-size{
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

/* ADD/UPDATE TRIP FORM */
.add-trip-col{
  text-align: center;
}

.wide-text-field{
  width: 100%;
  min-width: 15rem;
}

/* ACTIVITY CARDS */
.activity-card{
  width: 20rem;
  text-align: center;
  min-height: 20rem;
}
